#sobre {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.conteudo {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre img {
  width: auto;
  height: 70vh;
  box-shadow: 6px 6px 1px 1px rgba(52, 53, 50, 0.3);
}

.sobre-texto {
  width: 50vw;
  color: #0c0003;
  padding-left: 3em;
}

.titulo-secao {
  font-family: "telegraf", normal;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #0c0003;
}

.sobre-texto p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
  color: #0c0003;
}

.sobre-texto a {
  color: rgb(216, 84, 84);
  text-decoration-line: none;
}

/* -------------------------- */
/* media query */

@media (max-width: 1000px) {
  .conteudo {
    width: auto;
    height: 100vh;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 800px) {
  .conteudo {
    width: auto;
    height: auto;
    flex-direction: column;
    transition: all 0.5s ease-out;
  }

  .sobre-texto {
    width: auto;
    padding: 0 10vw;
    padding-bottom: 3em;
    font-size: 0.8em;
    line-height: 1.5em;
    order: -1;
    margin: 0;
    transition: all 0.5s ease-out;
  }

  #sobre img {
    width: auto;
    height: 30vh;
    transition: all 0.5s ease-out;
  }

  .titulo-secao {
    font-size: 2em;
    transition: 0.5s ease-out;
  }

  #sobre img {
    box-shadow: 4px 4px 1px 1px rgba(52, 53, 50, 0.3);
  }
}
